---
import Layout from '../layouts/Default.astro'
import Navbar from '../components/Navbar.astro'
import NavbarClone from '../components/NavbarClone.astro'
const title = 'Home'
---

<Layout title={title}>
  <section class="hero is-fullheight is-grey">
    <Navbar />

    <NavbarClone />

    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-5 landing-caption">
            <h1 class="title is-1 is-bold is-spaced">Precision Mapping & Data Collection for Land, Water and Beyond...</h1>
            <h2 class="subtitle is-5 is-muted">Unlock rapid, cost-effective insights with high-accuracy autonomous data collection.</h2>
            <div>
              <a href="#" class="button cta primary-btn raised mr-2"> Contact Us </a>
              <a href="#" class="button cta"> Discover</a>
            </div>
          </div>
          <div class="column is-7">
            <img src="/img/illustrations/worker.svg" class="hero-image" alt="Description" />
          </div>
        </div>
      </div>
    </div>

    <div class="hero-foot mb-20">
      <div class="container">
        <div class="tabs is-centered">
          <ul>
            <li>
              <a><img class="partner-logo" src="/img/logo/clients/systek.svg" /> </a>
            </li>
            <li>
              <a><img class="partner-logo" src="/img/logo/clients/tribe.svg" /> </a>
            </li>
            <li>
              <a><img class="partner-logo" src="/img/logo/clients/kromo.svg" /> </a>
            </li>
            <li>
              <a><img class="partner-logo" src="/img/logo/clients/infinite.svg" /> </a>
            </li>
            <li>
              <a><img class="partner-logo" src="/img/logo/clients/gutwork.svg" /> </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2">Product Applications</h2>
        <h3 class="subtitle is-5 is-muted">Where Our Technology Makes a Difference</h3>
        <div class="divider is-centered"></div>
      </div>

      <div class="feature-cards content-wrapper">
        <div class="columns">
          <div class="column is-6">
            <div class="feature-card is-bordered has-text-centered is-feature-reveal">
              <div class="card-title">
                <h4>Bathymetric and Topographic Surveys</h4>
              </div>
              <div class="card-icon">
                <img src="/img/icons/web.svg" />
              </div>
              <div class="card-text">
                <p>We deliver high-quality depth and terrain survey data, empowering you to create detailed, reliable charts for critical applications.</p>
              </div>
              <div class="card-action">
                <a href="#" class="button btn-align-md primary-btn raised">Learn More</a>
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="feature-card is-bordered has-text-centered is-feature-reveal">
              <div class="card-title">
                <h4>Environmental Data Acquisition</h4>
              </div>
              <div class="card-icon">
                <img src="/img/icons/rocket.svg" />
              </div>
              <div class="card-text">
                <p>Capture geo-stamped weather, CTD, magnetic, and other-sensor data for accurate hydrological insights, all within a single integrated platform.</p>
              </div>
              <div class="card-action">
                <a href="#" class="button btn-align-md primary-btn raised">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium section-feature-grey">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2">Things that set us apart</h2>
        <h3 class="subtitle is-5 is-muted">USpepees</h3>
        <div class="divider is-centered"></div>
      </div>

      <div class="columns is-vcentered side-feature mt-60">
        <div class="column is-4 is-offset-2">
          <h3 class="title is-3 mb-10 is-title-reveal">Rapid Global Deployment</h3>
          <p class="subtitle is-5 is-muted">
            Our single-operator driven systems are flight-portable and designed for instant global deployment, enabling fast market penetration.
          </p>
        </div>
        <div class="column is-5">
          <img src="/img/illustrations/features/feature-1.png" alt="" />
        </div>
      </div>

      <div class="columns is-vcentered side-feature mt-60">
        <div class="column is-5 is-offset-1">
          <img src="/img/illustrations/features/feature-2.png" alt="" />
        </div>
        <div class="column is-4 is-offset-1">
          <h3 class="title is-3 mb-10 is-title-reveal">Integrated Terrain & Subsurface Data</h3>
          <p class="subtitle is-5 is-muted">
            Seamlessly collect both elevation and depth data simultaneously, eliminating costly and time-consuming traditional level surveys.
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="columns is-vcentered app-side">
        <div class="column is-4 is-offset-1">
          <h3 class="title is-3 is-spaced is-title-reveal">Precision Autonomy</h3>
          <p class="subtitle is-5 is-muted">
            Advance algorithms ensure unparalleled accuracy and minimize human error, driving faster and more cost-effective data acquisition.
          </p>
        </div>
        <div class="column is-7">
          <div class="has-text-centered">
            <img class="side-image" src="/img/illustrations/features/feature-3.png" />
          </div>
        </div>
      </div>

    <div class="columns is-vcentered side-feature mt-60">
      <div class="column is-5 is-offset-1">
        <img src="/img/illustrations/features/feature-2.png" alt="" />
      </div>
      <div class="column is-4 is-offset-1">
        <h3 class="title is-3 mb-10 is-title-reveal">In-House Technology</h3>
        <p class="subtitle is-5 is-muted">
          We leverage in-house technology, developed in partnership with premier Indian institutes, to provide tailored solutions and first-line technical expertise. You benefit from our complete ownership and accountability.
        </p>
      </div>
    </div>
  </div>
</div>

  </section>



  <!-- <section class="section is-medium">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2">Wait, there's more</h2>
        <h3 class="subtitle is-5 is-muted">To make you super happy</h3>
        <div class="divider is-centered"></div>
      </div>

      <div class="content-wrapper">
        <div class="columns is-multiline icon-list">
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <iconify-icon class="iconify" icon="fa6-brands:github"></iconify-icon>
              </div>
              <h4>Github</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <iconify-icon class="iconify" icon="fa6-brands:bitbucket"></iconify-icon>
              </div>
              <h4>Bitbucket</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <iconify-icon class="iconify" icon="fa6-brands:slack"></iconify-icon>
              </div>
              <h4>Slack</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <iconify-icon class="iconify" icon="fa6-brands:npm"></iconify-icon>
              </div>
              <h4>Npm</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <iconify-icon class="iconify" icon="fluent:javascript-16-regular"></iconify-icon>
              </div>
              <h4>Javascript</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <iconify-icon class="iconify" icon="fontisto:nodejs"></iconify-icon>
              </div>
              <h4>Nodejs</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <iconify-icon class="iconify" icon="ph:angular-logo"></iconify-icon>
              </div>
              <h4>Angular</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <iconify-icon class="iconify" icon="bi:google"></iconify-icon>
              </div>
              <h4>Google</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <iconify-icon class="iconify" icon="carbon:logo-python"></iconify-icon>
              </div>
              <h4>Python</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <iconify-icon class="iconify" icon="bi:wordpress"></iconify-icon>
              </div>
              <h4>WordPress</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <iconify-icon class="iconify" icon="icon-park-solid:android"></iconify-icon>
              </div>
              <h4>Android</h4>
              <p>Some feature text</p>
            </div>
          </div>
          <div class="column is-3">
            <div class="feature-icon has-text-centered">
              <div class="icon-wrap is-icon-reveal">
                <iconify-icon class="iconify" icon="uiw:apple"></iconify-icon>
              </div>
              <h4>Apple</h4>
              <p>Some feature text</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <section class="section is-medium has-background-image" data-background="https://source.unsplash.com/g30P1zcOzXo/1600x900" data-color="#4FC1EA" data-color-opacity=".6">
    <div class="overlay"></div>
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2">Our clients love us</h2>
        <h3 class="subtitle is-5 is-muted">Look at what they say about us</h3>
        <div class="divider is-centered"></div>
      </div>


      <div class="testimonials content-wrapper">
        <div class="columns is-vcentered">
          <div class="column is-4">
            <figure class="testimonial">
              <blockquote>
                I would like real input from real people. How is it possible?
              </blockquote>
              <div class="author">
                <img src="/img/illustrations/faces/1.png" alt="" />
                <div>
                  <h5>Irma Walters</h5>
                  <span>Accountant</span>
                </div>
              </div>
            </figure>
          </div>
          <div class="column is-4">
            <figure class="testimonial">
              <blockquote>
                Maybe comments on the POC?. Huzzza Huzzza. Huzzza Huzzza 
              </blockquote>
              <div class="author">
                <img src="/img/illustrations/faces/2.png" alt="" />
                <div>
                  <h5>John Bradley</h5>
                  <span>Financial Analyst</span>
                </div>
              </div>
            </figure>
          </div>
          <div class="column is-4">
            <figure class="testimonial">
              <blockquote>
                For that, we need a POC. Huzzza Huzzza. Huzzza Huzzza
              </blockquote>
              <div class="author">
                <img src="/img/illustrations/faces/3.png" alt="" />
                <div>
                  <h5>Gary Blackman</h5>
                  <span>HR Manager</span>
                </div>
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2">Let's collaborate</h2>
        <h3 class="subtitle is-5 is-muted">You decide how to work with us</h3>
        <div class="divider is-centered"></div>
      </div>

      <div class="pricing-wrap">
        <div class="feature-card is-pricing has-text-centered">
          <h3 class="plan-name">Platform-as-a-Service</h3>
          <img src="/img/illustrations/pricing/1.svg" alt="" />
          <p>Access on-demand data collection, anywhere, anytime, tailored to your project needs. Eliminate large upfront investments and scale your data acquisition efficiently.</p>
          <a class="button is-fullwidth primary-btn raised is-bold">Get Started</a>
        </div>
        <div class="feature-card is-pricing has-text-centered">
          <h3 class="plan-name">Platform-as-a-Product</h3>
          <img src="/img/illustrations/pricing/2.svg" alt="" />
          <p>Equip your team with our advanced tools and integrate them seamlessly into your existing workflows. Gain full control over your data acquisition and analysis.</p>
          <a class="button is-fullwidth primary-btn raised is-bold">Get Started</a>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-light-grey is-medium">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 is-spaced">Drop us a line or two</h2>
        <h3 class="subtitle is-5 is-muted">We'd love to hear from You</h3>
        <div class="divider is-centered"></div>
      </div>

      <div class="content-wrapper">
        <div class="columns">
          <div class="column is-6 is-offset-3">
            <form>
              <div class="columns is-multiline">
                <div class="column is-6">
                  <input class="input is-medium" type="text" placeholder="First Name *" />
                </div>
                <div class="column is-6">
                  <input class="input is-medium" type="text" placeholder="Last Name *" />
                </div>
                <div class="column is-6">
                  <input class="input is-medium" type="text" placeholder="Email *" />
                </div>
                <div class="column is-6">
                  <input class="input is-medium" type="email" placeholder="Company" />
                </div>
                <div class="column is-12">
                  <textarea class="textarea" rows="6" placeholder=""></textarea>
                </div>
                <div class="column is-12">
                  <div class="form-footer has-text-right mt-10">
                    <button class="button cta is-large primary-btn form-button raised is-clear">Send Message</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="auth-modal" class="modal">
    <div class="modal-background modal-dismiss"></div>
    <div class="modal-content">
      <div class="flex-card auth-card">
        <div class="tabs-wrapper">
          <div class="tabs">
            <ul>
              <li class="is-active" data-tab="login-tab"><a>Login</a></li>
              <li data-tab="register-tab"><a>Register</a></li>
            </ul>
          </div>
          <div id="login-tab" class="tab-content is-active">
            <div class="field">
              <label>Username</label>
              <div class="control">
                <input type="text" class="input is-medium" placeholder="Enter username" />
              </div>
            </div>
            <div class="field">
              <label>Password</label>
              <div class="control">
                <input type="password" class="input is-medium" placeholder="Enter password" />
              </div>
            </div>

            <a class="button is-fullwidth secondary-btn is-rounded raised">Log in</a>
          </div>
        </div>
      </div>
    </div>
    <button class="modal-close is-large modal-dismiss" aria-label="close"></button>
  </div>
</Layout>
