---
import Layout from '../layouts/Default.astro'
import Navbar from '../components/Navbar.astro'
import NavbarClone from '../components/NavbarClone.astro'
const title = 'Konkan Surveys'
---

<Layout title={title}>
  <section class="hero is-fullheight is-grey">
    <Navbar />
    <NavbarClone />

  <section class="section section-light-grey is-medium" id="contactUs">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 is-spaced">Drop us a line or two</h2>
        <h3 class="subtitle is-5 is-muted">We'd love to hear from You</h3>
        <div class="divider is-centered"></div>
      </div>

      <div style="text-align: center;">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf5Cv-7V_1-WvtMTZJ39jivGACiToC3VmdjpZv122YvzIGEBQ/viewform?embedded=true" width="640" height="821" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
      </div>
    </div>
  </section>

</Layout>
